QListView{

    background : black;
    color: white;
}
QListView::item{
    border : 1px solid gray;
    background : black;
    padding-top: 10px;
    padding-bottom:20px;
    padding-left:10px;
    outline: none;
    }
QListView::item:selected{
    border : 1px solid black;
    background : gray;
}