QListView{
    background : white;
    color: black;
    outline: none;
}
QListView::item{
    background : white;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left:10px;
    /* border-bottom: 1px dotted */
    }
QListView::item:selected{
    background : rgb(141, 108, 108);
    color: white;
}
