QListView{

    background : white;
    color: black;
}
QListView::item{
    border-bottom : 1px solid gray;
    background : white;
    padding-top: 20px;
    padding-bottom:20px;
    padding-left:10px;
    outline: none;
    }
QListView::item:selected{
    background : white;
    outline: none;
    color: black;
}